*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#f4f4f4;
    padding:30px;
}

.header{
    background:#ff9900;
    color:#fff;
    padding:25px;
    border-radius:10px;
    margin-bottom:25px;
}

.header p{
    margin-top:8px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-bottom:25px;
}

.card{
    background:#fff;
    text-align:center;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card i{
    font-size:35px;
    color:#ff9900;
    margin-bottom:15px;
}

.card h2{
    color:#ff9900;
    margin-bottom:8px;
}

.overview,
.progress-section,
.architecture,
.quick{
    background:#fff;
    padding:20px;
    border-radius:10px;
    margin-bottom:25px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.overview h2,
.progress-section h2,
.architecture h2,
.quick h2{
    color:#ff9900;
    margin-bottom:15px;
}

.progress{
    width:100%;
    height:20px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin:15px 0;
}

.bar{
    width:0%;
    height:100%;
    background:#ff9900;
}

.flow{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    margin-top:20px;
}

.box{
    background:#ff9900;
    color:white;
    padding:15px;
    border-radius:8px;
    font-weight:bold;
}

.arrow{
    font-size:25px;
    color:#ff9900;
}

.module-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin-top:20px;
}

.module{
    background:#fff7e6;
    border:2px solid #ff9900;
    text-align:center;
    padding:18px;
    border-radius:8px;
    font-weight:bold;
}

.module:hover{
    background:#ff9900;
    color:white;
    cursor:pointer;
}

@media(max-width:900px){

.cards,
.module-grid{
    grid-template-columns:repeat(2,1fr);
}

.flow{
    flex-direction:column;
    gap:15px;
}

.arrow{
    transform:rotate(90deg);
}

}

@media(max-width:600px){

.cards,
.module-grid{
    grid-template-columns:1fr;
}

}